#RegisterPanel
{
  z-index: -1;
  position: absolute;

  top: 30%;
  height:40%;
  text-align: center;
  font-size: 15px;



  margin-left: 25%;

  width: 50%;


  border-style:groove;
  border-color:black;
  border-width: 5px;


background-color: #b1847b;
padding-top: 10%;



}
span
{
  padding-block-start : 3%;
  display: block;



}


